In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

# Import Data

In [6]:
data_big = pd.read_csv('obama_too_big.csv', parse_dates = ['year_month'])
data_big.head()

  year_month survey_organization  approve_percent  disapprove_percent
0 2009-01-01      Generated Data             67.0                31.0
1 2009-01-01      Harris (Phone)             60.0                29.0
2 2009-01-01      Generated Data             65.9                19.1
3 2009-01-01      Generated Data             64.6                18.4
4 2009-01-01      Generated Data             83.3                11.7

In [7]:
data = pd.read_csv('obama.csv', parse_dates = ['year_month'])
data.head()

  year_month  survey_organization  approve_percent  disapprove_percent
0 2009-01-01             ABC/Post             80.0                15.0
1 2009-01-01               AP-GFK             74.0                15.0
2 2009-01-01                  CNN             84.0                14.0
3 2009-01-01  Democracy Corps (D)             51.0                20.0
4 2009-01-01       Diageo/Hotline             64.0                 6.5

In [8]:
data.shape

(1530, 4)

In [9]:
data_big.shape

(65499, 4)

In [ ]:
#sampling
sampled = data_big.sample(frac = 0.1) # or n=10000